# Let's Clean Car Sales Data

In [1]:
# Load + Basic Hygiene

import pandas as pd
import numpy as np

df = pd.read_csv("dataset/car_Unclean.csv").copy()

# Drop useless index column
df.drop(columns=["Unnamed: 0"], inplace=True)

# Standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Trim text
for col in df.select_dtypes(include="object"):
    df[col] = df[col].str.strip()

In [2]:
# CLEAN resale_price (₹ + Lakh → FLOAT)

df["resale_price"] = (
    df["resale_price"]
    .str.replace("₹", "", regex=False)
    .str.replace("Lakh", "", regex=False)
    .str.strip()
)

df["resale_price"] = pd.to_numeric(df["resale_price"], errors="coerce")

In [3]:
df.head()

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,5.45,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,10.00,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,4.50,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,4.50,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,1.60,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra

In [4]:
# CLEAN engine_capacity (cc → INT)

df["engine_capacity"] = (
    df["engine_capacity"]
    .str.replace("cc", "", regex=False)
    .str.strip()
)

df["engine_capacity"] = pd.to_numeric(df["engine_capacity"], errors="coerce")

In [5]:
# CLEAN kms_driven (Kms + commas → INT)

df["kms_driven"] = (
    df["kms_driven"]
    .str.replace("Kms", "", regex=False)
    .str.replace(",", "", regex=False)
    .str.strip()
)

df["kms_driven"] = pd.to_numeric(df["kms_driven"], errors="coerce")

In [8]:
df.head()

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,5.45,2017,1197.0,Third Party insurance,Manual,40000.0,First Owner,Petrol,83.10,5.0,21.4 kmpl,Hatchback,Agra
1,2018 Tata Hexa XTA,10.00,2018,2179.0,Third Party insurance,Automatic,70000.0,First Owner,Diesel,153.86,7.0,17.6 kmpl,MUV,Agra
2,2015 Maruti Swift Dzire VXI,4.50,2015,1197.0,Third Party insurance,Manual,70000.0,Second Owner,Petrol,83.14,5.0,20.85 kmpl,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,4.50,2015,1197.0,Third Party insurance,Manual,70000.0,Second Owner,Petrol,83.14,5.0,20.85 kmpl,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,1.60,2009,1086.0,Third Party insurance,Manual,80000.0,First Owner,Petrol,68.05,5.0,19.81 kmpl,Hatchback,Agra

In [7]:
# CLEAN max_power (bhp → FLOAT)

df["max_power"] = (
    df["max_power"]
    .astype(str)
    .str.replace("bhp", "", regex=False)
    .str.replace("PS", "", regex=False)
    .str.strip()
)

df["max_power"] = pd.to_numeric(df["max_power"], errors="coerce")

In [9]:
# CLEAN mileage (kmpl → FLOAT)

df["mileage"] = (
    df["mileage"]
    .astype(str)
    .str.replace("kmpl", "", regex=False)
    .str.strip()
)

df["mileage"] = pd.to_numeric(df["mileage"], errors="coerce")

In [10]:
# FIX registered_year & seats

df["registered_year"] = pd.to_numeric(df["registered_year"], errors="coerce")
df["seats"] = pd.to_numeric(df["seats"], errors="coerce")

In [11]:
df.isnull().sum()

full_name                0
resale_price           234
registered_year      12742
engine_capacity         14
insurance                7
transmission_type        0
kms_driven               3
owner_type              45
fuel_type                0
max_power              425
seats                   10
mileage                659
body_type                0
city                     0
dtype: int64

In [12]:
# HANDLE MISSING VALUES — LOGICALLY

# Numeric
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

# Categorical
cat_cols = df.select_dtypes(include="object").columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [13]:
df.isnull().sum()

full_name            0
resale_price         0
registered_year      0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
dtype: int64

In [14]:
# FINAL VALIDATION

print("DTYPES AFTER CLEANING:\n")
print(df.dtypes)

print("\nMISSING VALUES AFTER CLEANING:\n")
print(df.isna().sum())

DTYPES AFTER CLEANING:

full_name             object
resale_price         float64
registered_year      float64
engine_capacity      float64
insurance             object
transmission_type     object
kms_driven           float64
owner_type            object
fuel_type             object
max_power            float64
seats                float64
mileage              float64
body_type             object
city                  object
dtype: object

MISSING VALUES AFTER CLEANING:

full_name            0
resale_price         0
registered_year      0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
dtype: int64

In [15]:
df.head()

,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,2017 Maruti Baleno 1.2 Alpha,5.45,2017.0,1197.0,Third Party insurance,Manual,40000.0,First Owner,Petrol,83.10,5.0,21.40,Hatchback,Agra
1,2018 Tata Hexa XTA,10.00,2018.0,2179.0,Third Party insurance,Automatic,70000.0,First Owner,Diesel,153.86,7.0,17.60,MUV,Agra
2,2015 Maruti Swift Dzire VXI,4.50,2015.0,1197.0,Third Party insurance,Manual,70000.0,Second Owner,Petrol,83.14,5.0,20.85,Sedan,Agra
3,2015 Maruti Swift Dzire VXI,4.50,2015.0,1197.0,Third Party insurance,Manual,70000.0,Second Owner,Petrol,83.14,5.0,20.85,Sedan,Agra
4,2009 Hyundai i10 Magna 1.1,1.60,2009.0,1086.0,Third Party insurance,Manual,80000.0,First Owner,Petrol,68.05,5.0,19.81,Hatchback,Agra

In [16]:
df.to_csv("car_cleaned_final.csv", index=False)